<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>Candy Shop</title>
    <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'main/css/buy.css' %}">
  </head>
  <body>
  <div id="wrapper">
  <nav>{% include 'main/menu.html' %}</nav>
  <header></header>
  
  <div id="content">
  <p class="problem1">會員常見問題</p>
  <ul class="menu1">
    <li>該如何加入會員</li>
    <li>忘記密碼怎麼辦？</li>
    <li>忘記第一次購物時所填寫的E-mail信箱？</li>
    <li>該如何修改個人資料及密碼</li>
    <li>訂閱及取消電子報</li>
  </ul>
  <p class="problem2">購物常見問題</p>
  <ul class="menu2">
    <li>如何購買糖果小舖商品？</li>
    <li>有哪些付款方式？</li>
    <li>請問有貨到付款嗎？</li>
    <li>臨櫃匯款告知匯款資訊方式？</li>
    <li>如何查詢訂單狀態？</li>
    <li>糖果小舖有實體門市嗎？</li>
    <li>糖果小舖門市營業時間？</li>
  </ul>
  <p class="problem3">寄件與配送</p>
  <ul class="menu3">
    <li>宅配運費如何計算？</li>
    <li>配送方式？</li>
    <li>收貨可以指定時間嗎？</li>
    <li>訂購完成後最快多久可以收到呢？</li>
    <li>宅配沒收到怎麼辦？</li>
  </ul>
  <p class="problem4">保存與品嘗方式</p>
  <ul class="menu4">
    <li>甜點保存方式？</li>
    <li>如何品嘗？</li>

  </ul>
  <p class="problem5">匯款資訊與發票相關</p>
  <ul class="menu5">
    <li>糖果小舖匯款資訊？</li>
    <li>公司行號如何取得三聯式統一發票？</li>
    <li>收到發票後，發現統編/抬頭有錯誤怎麼辦？</li>
  </ul>
  <p class="problem6">退換貨與退款</p>
  <ul class="menu6">
  <li>實際收到的品項跟當初的訂單不一樣or嚴重瑕疵，請問要如何處理？</li>
  </ul>
</div>  <!-- wrapper -->
  </body>
</html>