<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>Candy Shop</title>
    <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'main/css/call.css' %}">
  </head>
  <body>
  <div id="wrapper">
  <nav>{% include 'main/menu.html' %}</nav>
  <header></header>
   <div id="content">
  <h1 id="k1">門市資訊</h1>
  <h2 class="no5"> ※台中美術門市※</h2>
 
    <p class="no1">
 <img class="jp" src="{% static 'main/img/loca1.jpg'%}" alt="pure css3 slider" />
  <p  class="no1"><a href="https://www.google.com.tw/maps/place/403%E5%8F%B0%E4%B8%AD%E5%B8%82%E8%A5%BF%E5%8D%80%E4%BA%94%E6%AC%8A%E8%A5%BF%E8%B7%AF%E4%B8%80%E6%AE%B5122%E8%99%9F/@24.1402748,120.6585475,17z/data=!3m1!4b1!4m5!3m4!1s0x34693da6af7ba7c7:0xd9ab7ae29c52f886!8m2!3d24.1402748!4d120.6607362">門市位址：台中市五權西路一段122號</a></p>
   <p class="no1">
  門市專線：(04) 2375 - 4848<br>
  營業時間：<br>
  週一 - 週日10:00-21:00<br>
  <br>
  </p>
  </p>
  
   <h2 class="no5"> ※台中市政門市※</h2>
  <p class="no2"><img class="jp" src="{% static 'main/img/loca2.jpg'%}" alt="pure css3 slider" /></p>
  <p class="no2"><a href="https://www.google.com.tw/maps/place/407%E5%8F%B0%E4%B8%AD%E5%B8%82%E8%A5%BF%E5%B1%AF%E5%8D%80%E5%8F%B0%E7%81%A3%E5%A4%A7%E9%81%93%E4%B8%89%E6%AE%B562%E8%99%9F/@24.1621299,120.6492933,17z/data=!3m1!4b1!4m5!3m4!1s0x34693d8efdb056af:0xa2155b5952dc798d!8m2!3d24.1621299!4d120.651482">門市位址：台中市台灣大道三段62號</a></p>
  <p class="no2">
  門市專線：(04) 2313 - 8777<br>
  營業時間：<br>
  週一 - 週五 11:30-19:00<br>
  週六 - 週日 11:00-20:00<br>
  <br>
  </p>
  
  <h2 class="no5"> ※台北大安門市※</h2>
  <p class="no3"><img class="jp" src="{% static 'main/img/loca3.jpg'%}" alt="pure css3 slider" /></p>
  <p class="no3"><a href="https://www.google.com.tw/maps/place/106%E5%8F%B0%E5%8C%97%E5%B8%82%E5%A4%A7%E5%AE%89%E5%8D%80%E5%A4%A7%E5%AE%89%E8%B7%AF%E4%B8%80%E6%AE%B5105%E8%99%9F1/@25.0401129,121.5456287,19z/data=!3m1!4b1!4m5!3m4!1s0x3442abd0664c9c4b:0x3f203686d4c8a2e!8m2!3d25.0401129!4d121.5461759">門市位址：台北市大安區大安路一段105號1樓</a></p>
  <p class="no3">
  門市專線：(02) 2711 - 3303<br>
  營業時間：<br>
  週一 - 週五 13:00 - 20:30<br>
  週六 - 週日 12:30 - 20:00<br>
  <br>
  </p>
  
  <h1 id="k2">聯絡我們</h1>
  <h2 class="no5"> ※宅配服務※</h2>
  <p class="no4"><img class="jp" src="{% static 'main/img/loca4.jpg'%}" alt="pure css3 slider" /></p>
  <p class="no4">
  訂購專線：(04) 2358 - 8897<br>
  聯絡信箱：candy@candy.com<br>
  服務時間：09:30 - 18:00<br>
  
  </p>
  </div>
  </body>
</html>