<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>Candy shop</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  </head>
  <body>
  
  <div id="wrapper">
  <nav>{% include 'main/menu.html' %}</nav>
  <header></header>
  
  <div id="content">
     <table border="0">
      <tr>
          <td> <div class="pic">
      <div>
      <img src="{% static 'main/img/1.jpg'%}" alt="pure css3 slider" />
      <span class="info"></span>
      </div> 
      <div>
        <img src="{% static 'main/img/2.jpg'%}" alt="pure css3 slider" />
        <span class="info"></span>
      </div> 
      <div>
        <img src="{% static 'main/img/3.jpg'%}" alt="pure css3 slider" />
        <span class="info"></span>
      </div> 
      <div>
        <img src="{% static 'main/img/4.jpg'%}" alt="pure css3 slider" />
        <span class="info"></span>
      </div> 
      <div>
        <img src="{% static 'main/img/5.jpg'%}" alt="pure css3 slider" />
        <span class="info"></span>
      </div> 
    </div>
    </td>
    </tr>
      <tr>
        <td class="new"><h1 >新年系列</h1></td>
      </tr>
       <tr >
        <td class='s2'><img class="s1" src="{% static 'main/img/11.jpg'%}"></td>
         <td class="s3"><img class="s1" src="{% static 'main/img/13.jpeg'%}"></td>
          <td class="s4"><img class="s1" src="{% static 'main/img/12.jpg'%}"></td>
      </tr>
    </table>
</div>  <!-- wrapper -->
  </body>
</html>