<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>Candy Shop</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/product.css' %}">
  </head>
  <body>
   <div id="wrapper">
  <nav>{% include 'main/menu.html' %}</nav>
  <header></header>
  
  <div id="content">
  <h1 class='we'>歡迎來到Candy Shop</h1>
    <p>{% for message in messages %}</p>
      <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %} 
      <table border='1' class='table'>
    <tr>
    <td class="it">
    <img class='b3' src="{% static 'main/img/16.jpeg'%}" alt="pure css3 slider" />
    <img class='b2' src="{% static 'main/img/15.jpeg'%}" alt="pure css3 slider" />
     <img class='b1' src="{% static 'main/img/13.jpeg'%}" alt="pure css3 slider" /></td>
     <td class="td">{% if user.is_superuser %}
    <p><a class="btn" href="{% url 'product:productCreate' %}">新增產品</a></p> 
    {% endif %}
    {% for product, comments in products.items %}
      <h3 class="inlineBlock"><a href="{% url 'product:productRead' product.id %}">{{ product.title }}</a></h3>
      {% if user.is_superuser %}
      <form class="inlineBlock" method="post" action="{% url 'product:productDelete' product.id %}">
        {% csrf_token %}
        <input class="btn" type="submit" value="刪除">
      </form>
      {% endif %}
      <div class="productContent">{{ product.content|linebreaks|truncatechars_html:30}}</div>
      <p>價格：{{product.price }}</p>
      <p><a class="btn" href="{% url 'product:order' %}">購買商品</a></p>
      {% for comment in comments %}
        <div class="commentDiv">
          <span class="comment">{{ comment.content }}</span>
          <br>
          <span class="commentTime">{{ comment.pubDateTime|date:'m月d日 H:i' }}</span>
        </div>
      {% endfor %}
      <hr>
    {% endfor %}
    </td>
    </tr>
 </table>
</div>  <!-- wrapper -->
    
  </body>
</html>