<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>Candy Shop</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/product.css' %}">
  </head>
  <body>
    {% include 'main/menu.html' %}
    {% include 'main/messages.html' %}
    <h3 class="inlineBlock">{{ product.title }}</h3>
    {% if user.is_superuser %}
    <a class="btn inlineBlock" href="{% url 'product:productUpdate' product.id %}">修改</a>
    {% endif %}
    <p>發表時間：{{ product.pubDateTime|date:'Y-m-d H:i' }}</p>
    <div class="productContent">{{ product.content|linebreaks }}</div>
    {% for comment in comments %}
      <div class="commentDiv">
        <span class="comment">{{ comment.content }}</span>
        <br>
        <span class="commentTime">{{ comment.pubDateTime|date:'Y-m-d H:i'}}</span>
      </div>
    {% endfor %}
    <p>價錢{{ product.price }}</p>
  </body>
</html>