.productContent {
  padding: 15px;
  background-color: #ffe4c4;
  /*border: thin solid gray;*/
  border-radius: 10px;
}
.commentDiv {
  margin-top: 1em;
}

.comment {
  font-size: 0.8em;
}

.commentTime {
  font-size: 0.6em;
  border: 1px solid #cococo;
}
input[type=text] {
  padding: 0.4em;
}
div#content{
  padding:0em 25em;
}
div#conten{
  padding:0em 40em;
}
img.bb{
  width:30em;
  height:20em;
}