* {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
  bankground-repeat: no-repeat;
  border: 1px solid blue;
}

div#wrapper {
  margin: 0 auto;
  width: 100%;
  hight:auto;
  /*border: 1px solid green;*/
}

nav {
  width: 100%;
  background: url("/static/main/img/.png") ;
  /*background-position:80px 0px;　*/
  background-repeat:no-repeat;
  height: 10em;
  /*border: 1px solid black;*/
}

header {
  width: 100%;
  height: 3em;
  /*border: 1px solid red;*/
  background-color:#E0FFFF;
}

div#content {
  width: 100％;
  height:auto;
  background:url("/static/main/img/back.png") ;
  background-attachment: scoll;
  background-repeat: no-repeat;
  background-position:left bottom;
  border: 1px solid brown;
  background-size:cover;
}


.candy{
  font-size:6em;
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  color:blue;
  font-style:oblique;
  text-shadow: 0 5px 0px #009FCC;
  padding-top:0.2em;
  
}
ul#candy {
  margin-bottom: 40px;
  text-align: center;
}

ul#candy li {
  display: inline-block;
}
ul#candy li a {
  text-decoration:none;
}
ul#menu {
  font-family:cursive;
  font-size:1.2em;
  margin-bottom: 40px;
  text-align: center;
}

ul#menu li {
  display: inline-block;
}
ul#menu li a {
  text-decoration:none;
  padding: 0.5em 0.5em; 
  
}
ul#about {
  margin-bottom: 15px;
  text-align: center;
}

a#m:hover{
  color: red;
  font-size:1.4em;
}
/* Button */
.btn {
  font-family: Arial;
  display: inline-block;
  color: black;
  font-size: 0.8em;
  padding: 0.5em 1em;
  text-decoration: none;
  border: thin solid gray;
  background: linear-gradient(#f7f7f7, #dedede);
}
 /* Messages */
.success, .error {
  padding: 1em 0 1em 3em;
}

.success {
  background-color: #ddffdd;
  border: thin solid green;
}

.error {
  background-color: #fbd9d8;
  border: thin solid red;
}
/* Misc */
.inlineBlock {
  display: inline-block;
}

div#content {
  padding-top: 2em;
  padding-left: 20em;
  padding-right: 20em;
  padding-bottom: 4em;
  width: 100%;
  height: 100%;
  float: left;
  font-size:1.3em;
  /*border: 1px solid brown;*/
}

div#content p.problem1{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

div#content ul.menu1{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
}

div#content p.problem2{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

div#content ul.menu2{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
}

div#content p.problem3{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

div#content ul.menu3{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
}

div#content p.problem4{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

div#content ul.menu4{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
}

div#content p.problem5{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

div#content ul.menu5{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
}

div#content p.problem6{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

div#content ul.menu6{
  font-weight: bold;     /*字體*/
  font-size: 1em;
  font-style: normal;    /*字體(斜體、正體*/
  text-transform: none;  /*文字轉換(全大、全小、頭大身小*/
  text-decoration: none; /*文字裝飾(底線、上線、中間、沒有*/
  line-height: 2em;    /*行高*/
  letter-spacing: 0.5em; /*間距*/
  margin-left: 2em;  /*對齊*/
}

footer {
  font-weight: bold;     /*字體*/
  font-style: normal;    /*字體(斜體、正體*/
  letter-spacing: 0.5em; /*間距*/
  text-align: center;    /*對齊*/
  border-top: 3px solid black;
}