* {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
  bankground-repeat: no-repeat;
  border: 1px solid blue;
}

div#wrapper {
  margin: 0 auto;
  width: 100%;
  /*border: 1px solid green;*/
}

nav {
  width: 100%;
  background: url("/static/main/img/.png") ;
  background-position:80px 0px;　
  background-repeat:no-repeat;
  height: 10em;
  /*border: 1px solid black;*/
}

header {
  width: 100%;
  height: 3em;
  border: 1px solid red;
}

div#content {
  width: 150m;
  height: 35em;
  border: 1px solid brown;
  background: url("/static/main/img/7.png");
  background-repeat:no-repeat;
  background-size:150em 40em ;
  background-position:0px 0px;　
}

footer {
  height: 4em;
  border: 1px solid chocolate;
}

.candy{
  font-size:5em;
  
}
ul#candy {
  margin-bottom: 40px;
  text-align: center;
}

ul#candy li {
  display: inline-block;
}
ul#candy li a {
  text-decoration:none;
}
ul#menu {
  font-family:cursive;
  font-size:1em;
  margin-bottom: 40px;
  text-align: center;
}

ul#menu li {
  display: inline-block;
}
ul#menu li a {
  text-decoration:none;
}
ul#about {
  margin-bottom: 15px;
  text-align: center;
}
footer ul {
  margin: 0;
  padding: 0.5em 0em 0em 0em;
  text-align: center;
}

footer li {                    /* 做最少量的設定，大多數的設定在 <a> */
  display: inline-block;    /* 行內區塊顯示，因此允許橫向排列 */
  margin-right: 1em;        /* 按鈕間距 */
}

footer li a {                  /* 大多數的按鈕外觀在此設定 */
  display: block;           /* 區塊顯示，因此允許設定 padding */
  color: black;
  text-decoration: none;
  padding: 0.5em 2em;       /* 按鈕尺寸由 <a> 撐開 */
  background-color: lightgray;
  border-radius: 10px;
  border: 1px solid black;  
}
/* Button */
.btn {
  font-family: Arial;
  display: inline-block;
  color: black;
  font-size: 0.8em;
  padding: 0.5em 1em;
  text-decoration: none;
  border: thin solid gray;
  background: linear-gradient(#f7f7f7, #dedede);
}
 /* Messages */
.success, .error {
  padding: 1em 0 1em 3em;
}

.success {
  background-color: #ddffdd;
  border: thin solid green;
}

.error {
  background-color: #fbd9d8;
  border: thin solid red;
}
/* Misc */
.inlineBlock {
  display: inline-block;
}
 